/* main */
* {
  font-family: "poppins";
  box-sizing: border-box;
}
/* berita terbaru */
.buton {
  border-radius: 20px;
  padding: 5px 20px;
  font-weight: 500;
}
.buton:active {
  background-color: #e7c873 !important;
}
.buton:hover {
  border: 1px solid black;
  transition: border 0.5s;
}

.cardbodi:hover {
  background-color: rgba(56, 55, 55, 0.2);
  transition: background-color 1s;
  cursor: pointer;
}
.titel {
  font-size: 0.8rem;
  margin-bottom: 8rem;
  font-weight: 500;
}
.subtitel {
  font-size: 13px;
  text-transform: capitalize;
  font-weight: 600;
  margin-bottom: 0.5rem;
}
.parap {
  font-size: 11px;
}
.imeg {
  height: 19rem;
  border-radius: 15px;
  object-fit: cover !important;
  object-position: center !important;
}
.cardbodi {
  background-color: rgba(26, 26, 26, 0.4);
}
/* panduan evakuasi */
.titelpand {
  align-self: flex-end;
}
.pantit {
  font-size: 1.5rem;
  text-align: left;
  margin-left: 1.5vw;
}
.panimeg {
  height: 100%;
  border-radius: 15px;
  object-fit: cover;
  object-position: center;
  border-radius: 10px !important;
}
.panimeg:hover {
  height: min-content;
  cursor: pointer;
}
.container-ryn {
  width: 80vw;
}
.card-ryn {
  width: 14.5vw;
  height: 35vh !important;
  border-radius: 10px !important;
  border: none !important;
}
.cardbodi {
  width: 14.3vw;
  height: 6vh !important;
  border-radius: 10px !important;
  background-color: transparent !important;
}
.card-body-ryn {
  border-radius: 100px !important;
}
.card-body-ryn:hover {
  cursor: pointer;
  transform: scale(0.98);
}
.panduan-evakuasi .main {
  margin-bottom: 2vh;
}