* {
    font-family: 'Poppins', sans-serif;
}

/* Header */
nav {
    margin: 2.2% 4%;
    align-items: center;
}
.logo-siaga {
    width: 39% !important;
    font-size: 2rem;
    font-weight: 700;
    text-decoration: none
}
.nav-link {
    font-size: 1.2rem !important;
    margin-right: 2rem;
}
#Header .beranda{
    height: 100vh;
    align-items: center;
    text-align: center;
    
}
#Header .beranda .judul{
    margin-top: -100px;
    color: #fff;
    text-align: center;
    font-size: 5rem;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    width: 700px;
}
#Header .beranda .tagline{
    color: #fff;
    font-size: 1.7rem;
    width: 270px;
    font-weight: 600;
    margin-left: auto;
    margin-right: auto;
}
#Header .beranda .button {
    width: 13rem;
    height: 5rem;
    border: 0px solid black;
    background-color: #E7C873;
    border-radius: 12px;
}
#Header .beranda .button a{
    text-decoration: none;
    color: black;
    font-size: 1.3rem;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
#Header .beranda .button a img {
    width: 13px;
    height: 11px;
    margin-bottom: -2px;
}
/* End Header */

/* Informasi Bencana */
.informasi-bencana {
    display: flex;
    justify-content: center;
    margin-top: 7vh;
}
.main .judul {
    text-align: center;
    font-weight: 600;
    font-size: 3rem;
}
.main .deskripsi {
    text-align: center;
    font-weight: 500;
    font-size: 1.3rem;
    width: 510px;
}
.informasi-bencana .main .switch label {
    font-size: 13px;
    color: #ffffff;
    font-weight: 500;
}
.informasi-bencana .main .switch .btn-color-mode-switch{
    display: inline-block;
    margin: 0px;
    position: relative;
}
.informasi-bencana .main .switch .btn-color-mode-switch > label.btn-color-mode-switch-inner{
    margin: 0px;
    width: 410px;
    height: 55px;
    background: #1F4B43;
    border-radius: 12px;
    overflow: hidden;
    position: relative;
    transition: all 0.3s ease;
    /*box-shadow: 0px 0px 8px 0px rgba(17, 17, 17, 0.34) inset;*/
    display: block;
}
.informasi-bencana .main .switch .btn-color-mode-switch > label.btn-color-mode-switch-inner:before{
    content: attr(data-on);
    position: absolute;
    font-size: 24px;
    font-weight: 500;
    top: 7px;
    right: 20px;
    color: #ffffff;
}
.btn-color-mode-switch > label.btn-color-mode-switch-inner:after{
    content: attr(data-off);
    width: 200px;
    height: 51px;
    background: #E7C873;
    border-radius: 10px;
    font-size: 24px;
    position: absolute;
    left: 2px;
    top: 2px;
    text-align: center;
    transition: all 0.3s ease;
    box-shadow: 0px 0px 6px -2px #111;
    padding: 5px 0px;
    color: #000000;
}
.informasi-bencana .main .switch .btn-color-mode-switch input[type="checkbox"]{
    cursor: pointer;
    width: 50px;
    height: 25px;
    opacity: 0;
    position: absolute;
    top: 0;
    z-index: 1;
    margin: 0px;
}
.informasi-bencana .main .switch .btn-color-mode-switch input[type="checkbox"]:checked + label.btn-color-mode-switch-inner{
    background: #1F4B43;
}
.informasi-bencana .main .switch .btn-color-mode-switch input[type="checkbox"]:checked + label.btn-color-mode-switch-inner:after{
    content: attr(data-on);
    left: 208px;
    background: #E7C873;
}
.informasi-bencana .main .switch .btn-color-mode-switch input[type="checkbox"]:checked + label.btn-color-mode-switch-inner:before{
    content: attr(data-off);
    right: auto;
    left: 20px;
}
.informasi-bencana .main .data {
    margin-top: 5vh;
}
.informasi-bencana .main .data .filter {
    width: 200px;
    margin-left: -15px;
    margin-bottom: 10px;
}
.informasi-bencana .main .data .filter .image img {
    margin-right: -50px;
    z-index: 1;
}
.informasi-bencana .main .data .filter .option {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 170px;
    padding: 7px 5px 7px 35px;
    font-size: 14px;
    font-weight: 600;
    background-color: #FFFFFF;
    color: #3D3E3F;
    border-radius: 8px;
    border: 0px solid #FFFFFF;
}
.informasi-bencana .main .data table {
    width: 80vw;
    background-color: #FAFAFA;
}
.informasi-bencana .main .data table th,
.informasi-bencana .main .data table td {
    color: #667085;
    font-size: 14px;
}
.informasi-bencana .main .data .page .btn-light{
    font-size: 14px !important;
}
.informasi-bencana .main .data .page .btn-light img {
    height: 15px;
}
.informasi-bencana .main .data .page .btn-light p {
    margin: auto;
}
/* End Informasi Bencana */

/* Timeline */
.timeline {
    margin-top: 7vh;
}
.timeline .main .group-button {
    margin-top: 3vh;
}
.timeline .main .group-button button {
    background-color: transparent;
    border: none;
}
.timeline .main .group-button .tahun {
    font-size: 25px;
    font-weight: 600;
    color: #989393;
}
.timeline .main .group-button .line {
    width: 11vw;
    height: 10px;
    background-color: #D9D9D9;
    margin-top: -27px;
}
.timeline .main .group-button .tahun-active {
    color: #1F4B43;
}
.timeline .main .group-button .line-active {
    background-color: #E7C873;
}
.timeline .main .value-timeline {
    width: 70vw;
}
.timeline .main .value-timeline p{
    font-size: 18px;
}
.timeline .main .value-timeline .line {
    width: 80px;
    height: 3px;
    background-color: #000000;
    border-radius: 10px;
}
.timeline .main .value-timeline td {
    padding: 5px;
    color: rgba(6, 6, 6, 0.7);
    font-size: 14px;
}
.timeline .main .value-timeline .penyebut {
    font-weight: 600;
}
.timeline .main .value-timeline .jawaban-deskripsi {
    height: 100px;
    text-align: center;
}
.timeline .main .value-timeline .image img{
    height: 35vh;
    width: 30vw;
    border-radius: 10px;
}
/* End Timeline */
